
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0b1118] text-white antialiased;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0b1118;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
